
#container{
	width: 330px;
	height: 310px;
	background-color: black;
	float: left;

}
.defualt{
	width: 20px;
	height: 100px;
	background-color: grey;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}